@charset "utf-8";
/* CSS Document */

body {
	color:#323336;
	font-family: 'Alef', sans-serif;
	font-size:21px;
}
a:link,
a:visited {
	color:#00aed9;
	text-decoration:none;
}
a:hover {
	color:#00aed9;
	text-decoration:none;
}
h2 {
	font-size:1.29em;
	font-weight:normal;
	margin:10px 15px 15px 10px;
	text-align:left;
}
h2:hover {
	color:#0083a3;
}
#menu {
    max-width: 1027px;
    text-align: center;
    margin: auto;
}
.header {
	margin-bottom:10px;
}
.projectBlock {
	width:317px;
	background:#f7f7f7;
	border-top:1px dashed #7bdf21;
	border-bottom:1px dashed #7bdf21;
	padding:5px 0 20px 0;
	display: inline-block;
	margin-right:10px;
}
.projectBlock .social {
	color:#6e6d6d;
	font-size:1.14em;
	text-align:right;
	padding-right:10px;
}
.zoomimg {
    display: inline-block;
    width: 317px;
    height: 211px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .6s ease;
}
.zoomimg:hover {
    cursor: pointer;
    background-size: 115% 115%;
}
.starwars {
    background-image: url(Pics/starwars.jpg);
}
.xmen {
    background-image: url(Pics/xmen.jpg);
}
.captain {
    background-image: url(Pics/Captain-America-Civil-War.jpg);
}
